body {
    background-color: black;
    Color: white;
    padding: 2%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.favorite-section {
    background-color: green;
    color: white;
    padding: 2%;
    border-radius: 12px;
    border-color: black;
    border-width: 12px;
    margin-bottom: 5px;
}

.section-header {
    font-weight: 900;
    font-family: 'Bookman Old Style';
    color: goldenrod;
    text-shadow:1px 1px darkgoldenrod;
    font-size: 2em;
}

#movie {
    background: linear-gradient(black, green);
}

h1{
    align-content:center;
}

#specialFont{
    color:green;
    font-size:2em;
    text-shadow:2px 2px 1px #333;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#images{
    background-image: url(images/musicPic.jpg);
    background-position:center;
    background-size:cover;
    height: 300px;
    
}

#favPhotos img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-right:50px;
}

table {
    border: none;
    text-align:left;
    width: 100%;
}

th, td {
    border: 1px solid green;
    text-align: left;
    width:auto;
    background-color:darkgreen;
    color: white;
    padding:2px;
}

th {
    color:darkgoldenrod;
    font-weight:700;
    font-size:1.2em;
    background-color:black;
    border-color:darkgoldenrod;
}

#favorite-music-artist-name{
    color:tan;
    font-weight:700;    
}

#favorite-movie {
    font-style:italic;
    color:tan;
    font-weight:700;
}